body {
  background-color: #c4dfff
}

h1 {
  font-family: "Verdana","Geneva",sans-serif;
  color: #ffffff;
  text-align: center;
}

#header {
  position: relative;
  top: -10px;
  background-color: #113166;
}

h4 {
  font-family: "Verdana","Geneva",sans-serif;
  text-align: center;
}

#footer {
  position: relative;
  bottom: -20px;
  height: 75px;
  background-color: #113166;
  clear: both;
}

.tenor-gif-embed {
  margin-left: auto;
  margin-right: auto;
}
